body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 4em;
}

.card-section {
    width: 375px;
    height: 540px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px hsl(0, 0%, 7%);
    align-items: center;
    cursor: pointer;
}

.card-image img{ 
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        margin-left: 1.2rem;
        margin-top: 1.5rem;
    }

    .learn { 
        margin: 1rem;
        margin-left: 1.5rem;
       
    }

    .learn h5 { 
        background-color: hsl(47, 88%, 63%);
        width: 20%;
        padding: 0.5rem;
        border-radius: 5px;
        color: solid hsl(0, 0%, 7%);
    }

    .learn h2:hover { 
        color: hsl(47, 88%, 63%);
        
    }

    #learning-content{ 
        background-color: hsl(47, 88%, 63%);
        margin: 0;
        margin-right: 50em;
        border-radius: 0.5em;
        gap: 2rem;
    }

    .foundations { 
        color: hsl(0, 0%, 7%);
        gap: 2rem;
    }

    .foundations p { 
        color: hsl(0, 0%, 42%);
    }


   .image-content { 
    align-items: center;
    display: flex;
    gap: 1rem;
    }

    .image-content img { 
        height: 40px;
    }

    .image-content h4 { 
        color: hsl(0, 0%, 7%);
    }
